<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.kplayout2019">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.READ_SMS"/>

    <application
            android:name=".MainApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:usesCleartextTraffic="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".screen.RateScreenActivity">
        </activity>
        <activity android:name=".screen.mainscreen.MainScreenLibrary">
        </activity>
        <activity android:name=".screen.IntroPrivacyPolicy">

        </activity>
        <activity android:name=".screen.wallpapers.Wallpapers"/>
        <activity android:name=".screen.moreapps.MoreApps"/>

        <meta-data
                android:name="com.google.android.gms.ads.AD_MANAGER_APP"
                android:value="true"/>

        <receiver
                android:name=".receiver.KeyboardThemeReceiver"
                android:exported="true">
            <intent-filter>
                <action android:name="com.themejunky.keyboardplus.plugin.KEYBOARD_THEME"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.ALTERNATIVE"/>
                <category android:name="android.intent.category.SELECTED_ALTERNATIVE"/>
            </intent-filter>

            <meta-data
                    android:name="com.themejunky.keyboardplus.plugindata.keyboardtheme"
                    android:resource="@xml/keyboard_themes"/>
        </receiver>

        <!--PushNotification-->

        <service
                android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
                android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <activity android:name=".service.RedirectGP"/>








        <!--<activity android:name="com.onboarding.PrimeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
        <!--<activity android:name="com.onboarding.screen.main.FirstActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->


        <activity
                android:name="com.intro.IntroTutorial"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar" />

        <service android:name="com.keyboard_settings.screens.activity.Sync.SyncService.ReSyncServiceInBackground" />

        <service android:name="com.keyboard_settings.screens.activity.Sync.SyncGmail.GmailSyncService" />
        <service android:name="com.keyboard_settings.screens.activity.Sync.SyncSMS.SmsSyncService" />
        <service android:name="com.keyboard_settings.screens.activity.Sync.SyncService.SyncServiceInBackground" />

        <receiver
                android:name="com.keyboard_core.BootCompletedReciver"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


        <service
                android:name="com.android.inputmethod.latin.LatinIME"
                android:label="@string/core_menu_app_name"
                android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                    android:name="android.view.im"
                    android:resource="@xml/method" />
        </service>

        <!-- imported from AOSP -->

        <service
                android:name="com.android.inputmethod.latin.spellcheck.AndroidSpellCheckerService"
                android:label="@string/spell_checker_service_name"
                android:permission="android.permission.BIND_TEXT_SERVICE">
            <intent-filter>
                <action android:name="android.service.textservice.SpellCheckerService" />
            </intent-filter>

            <meta-data
                    android:name="android.view.textservice.scs"
                    android:resource="@xml/spellchecker" />
        </service>
        <service
                android:name="com.android.inputmethod.dictionarypack.DictionaryService"
                android:label="@string/dictionary_service_name" />

        <!-- Activities -->


        <!--<activity-->
        <!--android:name="com.keyboard_theme_manager.MainActivity"-->
        <!--android:icon="@drawable/ic_launcher_keyboard"-->
        <!--android:label="@string/english_ime_name"-->
        <!--android:launchMode="singleTask"-->
        <!--android:noHistory="true"-->
        <!--android:theme="@style/platformActivityTheme">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->
        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
        <!--</activity>-->


        <activity
                android:name="com.keyboard_theme_manager.MainActivity"
                android:label="@string/core_menu_app_name"
                android:icon="@drawable/ic_launcher_keyboard"
                android:screenOrientation="portrait"
                android:exported="true"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>


        <!--<activity-->
        <!--android:name="com.android.inputmethod.latin.setup.SetupActivity"-->
        <!--android:icon="@drawable/ic_launcher_keyboard"-->
        <!--android:label="@string/english_ime_name"-->
        <!--android:launchMode="singleTask"-->
        <!--android:noHistory="true"-->
        <!--android:theme="@style/platformActivityTheme">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->
        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
        <!--</activity>-->

        <activity
                android:name="com.keyboard_theme_manager.screens.activity.previewKeyboard.PreviewKeyboard"
                android:exported="false"
                android:taskAffinity=""
                android:windowSoftInputMode="stateVisible"
                android:theme="@style/TransparentTheme" />
        <activity
                android:name="com.keyboard_theme_manager.screens.activity.aboutKeyboard.AboutKeyboard"
                android:exported="false"
                android:taskAffinity=""
                android:theme="@style/TransparentTheme" />

        <activity
                android:name="com.android.inputmethod.latin.permissions.PermissionsActivity"
                android:exported="false"
                android:taskAffinity=""
                android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
                android:name="com.keyboard_settings.screens.activity.Sync.SyncGmail.GmailSyncActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name="com.keyboard_settings.screens.activity.Sync.SyncSMS.SmsSyncActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar" />

        <activity
                android:name="com.incercari.IncercareToast"
                android:screenOrientation="portrait"
                android:theme="@style/TransparentTheme" />

        <activity
                android:name="com.incercari.FinishActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar" />


        <activity
                android:name="com.android.inputmethod.latin.setup.SetupWizardActivity"
                android:clearTaskOnLaunch="true"
                android:label="@string/english_ime_name"
                android:theme="@style/platformActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.android.inputmethod.latin.settings.SettingsActivity"
                android:label="@string/english_ime_settings"
                android:theme="@style/platformSettingsTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.android.inputmethod.latin.spellcheck.SpellCheckerSettingsActivity"
                android:label="@string/android_spell_checker_settings"
                android:theme="@style/platformSettingsTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.android.inputmethod.dictionarypack.DictionarySettingsActivity"
                android:label="@string/dictionary_settings_title"
                android:theme="@style/platformSettingsTheme"
                android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.android.inputmethod.dictionarypack.DownloadOverMeteredDialog"
                android:label="@string/dictionary_install_over_metered_network_prompt"
                android:theme="@style/platformActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- Unexported activity used for tests. -->
        <activity
                android:name="com.android.inputmethod.latin.settings.TestFragmentActivity"
                android:exported="false" />

        <!-- Broadcast receivers -->
        <receiver android:name="com.android.inputmethod.latin.SystemBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_INITIALIZE" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
                android:name="com.android.inputmethod.latin.DictionaryPackInstallBroadcastReceiver"
                android:exported="false">
            <intent-filter>
                <action android:name="com.android.inputmethod.dictionarypack.aosp.UNKNOWN_CLIENT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.android.inputmethod.dictionarypack.EventHandler">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="com.android.inputmethod.dictionarypack.aosp.UPDATE_NOW" />
                <action android:name="com.android.inputmethod.dictionarypack.aosp.INIT_AND_UPDATE_NOW" />
            </intent-filter>
        </receiver>

        <!-- Broadcast receiver for AccountManager#LOGIN_ACCOUNTS_CHANGED_ACTION. -->
        <receiver android:name="com.android.inputmethod.latin.accounts.AccountsChangedReceiver">
            <intent-filter>
                <action android:name="android.accounts.LOGIN_ACCOUNTS_CHANGED" />
            </intent-filter>
        </receiver>

        <!-- Content providers -->
        <provider
                android:name="com.android.inputmethod.dictionarypack.DictionaryProvider"
                android:authorities="@string/authority"
                android:exported="false"
                android:grantUriPermissions="true"
                android:label="@string/core_menu_app_name"
                android:multiprocess="false" />

        <!---->

        <activity
                android:name="com.keyboard_settings.screens.activity.Keyboard_Settings"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="8215c11c125f171760ddb0dadc87c228b901d479" />

        <meta-data
                android:name="com.google.android.gms.ads.AD_MANAGER_APP"
                android:value="true"/>
        <meta-data android:name="preloaded_fonts" android:resource="@array/preloaded_fonts"/>

    </application>

</manifest>
